.card {
  padding: 0;
  background-color: #fff;
  transition: transform 0.3s ease, border 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 360px;
  width: 100%;
  border: 1px solid transparent; 
  margin: 0 auto;

  &:hover {

    transform: scale(1.01);
    border: 1px solid #cccccc7e;
  }
}


.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.cardText {
  padding: 0.75rem 1rem;
  text-align: left;

  h4 {
    margin: 0.5rem 0 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p {
    margin: 0;
    font-size: 0.95rem;
    font-weight: 500;
    color: #555;
  }
}
